{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
 

{% block style %}

{% endblock %}

{% block body %}
<div class="page-header align-items-start min-vh-100">
  <div class="container my-auto">
    <img class="mb-4" src="{% static 'img/logo-ct-dark.png' %}" alt="">

        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>

        <div class="form-label-group mr-3">
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-outline-primary">Change My Password</button>
            </form>
        </div>
        </div>
        </div>
        </div>

{% endblock %}
