{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
 

{% block style %}

{% endblock %}

{% block body %}
<div class="page-header align-items-start min-vh-100">
        <div class="container my-auto">
                <h1 class="h3 mb-3 font-weight-normal">Password Changed Successfully.</h1>
                <img class="mb-4" src="{% static 'img/logo-ct-dark.png' %}" alt="">

        <p>Your password has been changed successfully.</p>
        <p>Please <a href="{% url 'dashboard' %}">log in</a>.</p>
        </div>
        </div>

{% endblock %}
