{% extends 'base.html' %}
{% load static %}
 

{% block style %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="page-header align-items-start min-vh-100">
    <div class="container my-auto">
        <h1 class="h3 mb-3 font-weight-normal">Email Sent</h1>
        <img class="mb-4" src="{% static 'img/logo-ct-dark.png' %}" alt="">


        <p>Check your inbox.</p>
        <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>

    </div>
    </div>
{% endblock %}
